<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.EntityFrameworkCore.Tools" version="9.0.5" targetFramework="net6.0" developmentDependency="true" />
  <package id="react.js" version="0.14.7" targetFramework="net6.0" />
  <package id="React.Web" version="5.2.12" targetFramework="net6.0" />
</packages>